<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />

    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th colspan="2">날짜</th>
                <th>   </th>
                <th>시가</th>
                <th>고가</th>
                <th>저가</th>
                <th>종가</th>
                <th>수정종가</th>
                <th>거래량</th>
            </tr>
            </thead>
            <tbody>
            <tr  th:each="stoc : ${stock}">
                <td colspan="2" th:text="${stoc.date}"></td>
                <td></td>
                <td th:text="${stoc.open}" style="text-align: right"></td>
                <td th:text="${stoc.high}" style="text-align: right"></td>
                <td th:text="${stoc.low}" style="text-align: right"></td>
                <td th:text="${stoc.close}" style="text-align: right"></td>
                <td th:text="${stoc.adjClose}" style="text-align: right"></td>
                <td th:text="${stoc.volume}" style="text-align: right"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="fragments/footer :: footer" />

</div>
<script>
</script>
</body>
</html>