<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="fragments/header :: header" />
</head>
<body>
<div class="container">
    검색창
        <div>
        <form role="form" th:action="@{/stock/{weird} (weird=${id})}" method="get">

            <label for="id">종목선택</label>
            <input type="text" id="id" name="id"  class="form-control">

            <label for="fromDt">시작일자</label>
            <input type="text" id="fromDt" name="fromDt"  class="form-control">

            <label for="toDt">종료일자</label>
            <input type="text" id="toDt" name="toDt"  class="form-control">

            <button type="submit" class="btn btn-outline-primary float-right">검색</button>
        </form>

        </div>
</div>
</body>
</html>