<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="fragments/header :: header" />
</head>
<body>
<div class="container">
    <p th:text="'안녕하세요. ' + ${data}" >안녕하세요.</p>
    <p> 다음 요구사항을 만족하는 웹 API를 본인이 빨리 배울 수 있는 것 중 가장 익숙하지 않은 언어로 작성하고, <br>
        소스코드와 함께 학습 및 개발 과정을 가능한 자세히 써서 제출해 주세요.<br><br>
        =========<br><br>
        최근 해외투자에 관심을 갖게 된 당신은 믿을만한 투자 고수인 친구를 조르고 졸라 미국 ETF 매매 전략을 하나 전수받기로 했습니다.<br>
        다만 친구는 어렵게 만든 전략을 공짜로 전해줄 수는 없고, 그간 웹사이트를 통해서만 확인하던 미국 ETF 가격 정보를 프로그램으로 받아볼 수 있게<br>
        웹 API를 하나 만들어 달라고 합니다.<br><br>
        친구는 지금까지 yahoo! finance나 investing.com에서 ETF 가격 정보를 매일 직접 확인하고 있었는데, 새 API가 있으면<br>
        지금까지 눈으로 확인하고 손으로 주문을 넣던 매매를 자동화할 수도 있을 것이라 합니다.<br>
        당장은 일자별 가격 정보만 있으면 되지만, 향후 환율이나 배당 정보 등이 추가되면 이것으로 할 수 있는 더 좋은 투자전략도 알려주겠다고 합니다.<br><br>
        임의의 미국 ETF 티커(예: QQQ)와 날짜 구간(예: 2021-09-20 ~ 2021-09-30)이 주어졌을 때<br>
        해당 ETF의 이 구간 실제 가격 정보를 돌려 주는 웹 API를 설계하고 작성해 주세요. 친구는 투자는 알지만 <br>
        개발은 아직 잘 모르기 때문에 사용 방법을 알 수 있는 문서가 있으면 더욱 좋겠습니다.
    </p>
</div>
</body>
</html>